body {
  color: #3c3c3c;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
/*************   Create the menubar using flexbox. *********************************/
nav  {
  background-color: rgb(66, 60, 60);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo.fa-solid.fa-mug-saucer {
  color: white;
  margin-left: -420px;
}
.nav-links {
  display: flex;
  margin-right: -420px;
  list-style-type: none;
}

.nav-item {
  padding: 5px;
}
.nav-item a {
  text-decoration: none;
  color: white;
}
.nav-item:hover {
  background-color: white;
}
.nav-item:hover a {
  color: black;
}
/******* Create banner section with background image and headings on top *****/
.banner {
  background-image:url("../images/home_banner-x489.png"); 
  padding: 100px;
  text-align: center;
}

.banner h1 {
  font-family: 'Lobster', cursive;
  color: white;
  text-shadow: 3px 3px 2px #000000;
}

.banner p {
  color: white;
  text-shadow: 1px 1px 2px #000000;
}

/**********       Create 3 column layout         ************/

.content-one h2 {
  font-size: 36px;
}

.tint {
  background-color: rgb(240, 240, 240);
  padding: 10px;
}

.tint h2 {
  text-align: center;
}

.item-col {
  text-align: center;
}

.triple-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.content-two a:link {
}
.content-two a:hover {
}

/************* Create 4 column layout    ************************/
.content-two h2 {
  text-align: center;
}

.quad-col {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item-coffee img {
  width: 75%;
}

.button {
  background-color: yellow; 
  border-radius: 10px;
  margin-left: 40px; 
  margin-right: 40px;
}

.button p {
  padding: 15px;
}

.button a {
  text-decoration: none;
}

.item-coffee .how-to {
  text-decoration: none;
  color: red;
}

.content-three {
  text-align: center;
}

.content-three h2 {
  font-size: 36px;
}

.content-three .item-col {

}
.content-three .triple-col {
  text-align: center;
  transform: scale(0.85);
} 
.content-three .item-col {
  padding: 20px;
}

footer {
  text-align: center;
}

footer .button {
  margin-left: 500px;
  margin-right: 500px;
  background-color: yellow; 
  border-radius: 10px;
}

/**************** create a verticle layout for mobile devices (smaller than 600px ).    *********/
@media all and (max-width: 600px) {
  html {
    width: 91%;
  }

  .item-col p {
    margin-left: 25px;
    margin-right: 25px;
  }

  .logo.fa-solid.fa-mug-saucer {
    color: white;
    margin-left: 20px;
    align-items: center;
    padding-top: 20px;
  }

  .triple-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quad-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav {
    height: 200px;
    background-color: rgb(66, 60, 60);
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    justify-content: space-around;
    text-align: center;
  }
  .nav-links {
    display: grid;
    align-items: center;
    margin-right: 20px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 245px;
    padding-bottom: 0px;
  }

  footer .button {
    margin-left: -0px;
    margin-right: -0px;
    padding: 0px;
    border-radius: 10px;
    background-color: yellow; 
  }

  footer .button p {
    text-align: center;
  }
}